
.services {
  padding: 20px;
  text-align: center;
}

.service-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}

.service-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.service-buttons button:hover {
  background-color: #0056b3;
}

.service-message {
  font-size: 1.2em;
  color: #333;
  margin-top: 20px;
}

.service-message li {
  text-align: left;
  list-style-type: none;
}

.civ{
  width: 100px;
  height: 100px;
  transition: 0.5s;
}

.civ:hover{
  transform: scale(1.2);
}


@media (max-width: 768px) {
  .service-buttons button {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .service-buttons button {
    padding: 0.5rem;
  }

  .service-buttons img {
    max-width: 80px;
  }
}

@media (min-width: 768px) {
  .home-item {
    flex-direction: row;
    align-items: flex-start;
  }

  .profile-image {
    max-width: 150px;
  }

  .home-text {
    margin-left: 20px;
    text-align: left;
  }}